
@font-face {
  font-family: 'Special Elite';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/special-elite-v6-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Special Elite'), local('SpecialElite-Regular'),
       url('fonts/special-elite-v6-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/special-elite-v6-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/special-elite-v6-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/special-elite-v6-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/special-elite-v6-latin-regular.svg#SpecialElite') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/raleway-v11-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Raleway'), local('Raleway-Regular'),
       url('fonts/raleway-v11-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/raleway-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/raleway-v11-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/raleway-v11-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/raleway-v11-latin-regular.svg#Raleway') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Architects Daughter';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/architects-daughter-v6-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Architects Daughter'), local('ArchitectsDaughter'),
       url('fonts/architects-daughter-v6-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/architects-daughter-v6-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/architects-daughter-v6-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/architects-daughter-v6-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/architects-daughter-v6-latin-regular.svg#ArchitectsDaughter') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Julius Sans One';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/julius-sans-one-v5-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Julius Sans One'), local('JuliusSansOne-Regular'),
       url('fonts/julius-sans-one-v5-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/julius-sans-one-v5-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/julius-sans-one-v5-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/julius-sans-one-v5-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/julius-sans-one-v5-latin-regular.svg#JuliusSansOne') format('svg'); /* Legacy iOS */
}


html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	background-color:white; 
	font-family: "Julius Sans One";
}

.offscreen { position: absolute; left: -1000px; top: -1000px;}

.tablevalue, .panel-body td {
	font-family: "Quicksand";
	font-size: 12pt;
	padding:5px 10px 5px 20px;
}
.tablelabel, td.tablelabel  {
	font-family: "Raleway";
	text-align:right;
	font-style: italic;
	padding:5px 10px 5px 20px;	
}
.tablevalue-straight {
	font-family: "Raleway";
	font-size: 12pt;
	padding:5px 10px 5px 20px;
}
.hide-me { display:none }

.publication { 
	font-style:italic; 
}
.post-it {
	font-family:"Special Elite";
	position:absolute;
	z-index:1;
	word-wrap: break-word;
	width:350px;
	margin: 2px;	
    padding: 15px;
    -ms-transform: rotate(-2deg); /* IE 9 */
    -webkit-transform: rotate(-2deg); /* Safari */
    transform: rotate(-2deg);
    box-shadow: 1px 8px 4px -4px rgba(0, 0, 0, 0.16), 1px 8px 4px -4px rgba(0, 0, 0, 0.12) !important;
}
.page-header {	
	font-family: "Julius Sans One";
	margin-top:5px;
	padding-bottom:5px; 
	font-weight:bold;
	font-size:1.6em;
}
.section-header {
    border-bottom: 1px solid #aaa7ac;
    margin: 10px 0 10px;
    padding-bottom: 5px;
    font-size: 1.0em;
    font-weight:bold;
}
.project-header {	
	margin-left:5px; 
	margin-bottom:10px;
	padding:5px; 
	font-style:normal; 
	font-weight:normal;
	text-decoration:underline; 
	font-size:1.1em;
}
.palegrey {
	background-color: white;
  	margin-left:10px;
  	margin-right:10px;  	
}
.palegrey .row {
	padding:0px;
  	margin:5px;
	border: dashed 1px #eeeeee;	 
}
.palegrey .post-it .row {
	border: none;
}
.whitish {
	background-color: #fbfbfb;
	border-top:solid 20px #fcfcfc;
}
.blue {
	background-color: #b6ffff;
	border-top:solid 20px #c5ffff;
}
.yellow {
	border-top:solid 20px #fffaaa;
	background-color: #f4fa9d;
}
.orange {
	border-top:solid 20px #f8a123;
	background-color: #f69011;
}
.green {
	border-top:solid 20px #d4ff88;
	background-color: #ccff55;
}
.pink {
	border-top:solid 20px #ff93ff;
	background-color: #ff80ff;
}
.author {
	font-style:italic;
    color: #aaaaaa;
    font-size: 0.8em;
    text-align:right;
}
div.shadow-panel {
	margin: 5px;
	background-color: #f4faff;
    padding: 20px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;   
}
.search-panel {
 	border-right: dotted 0px grey;	 
	padding:5px;
}
.btn-circle {
    width: 30px;
    height: 30px;
    padding: 0px 0;
    border-radius: 15px;
    text-align: center;
    font-size: 16px;
    line-height: 1.428571429;
}
.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    border-radius: 25px;
    font-size: 18px;
    line-height: 1.33;
}
.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}
.btn-primary {
    background-color: #4C6FA1;
    border-color: #4552ae;
    color: #fff;
}
.btn-primary:active, .btn-primary:hover {
    background-color: #0E7083;
    border-color: #4552ae;
    color: #fff;
}

a {
  color: #1393A5;
  #text-decoration: underline;
  
}
.bc-back {
	border-bottom: dotted 0px grey;
}
.bc-back:before {
        font-family: FontAwesome;        
        float:top;
        padding: 3px;
        #content: "\f105"; 
        content: "\f101"; 
         #content: "\f054"; 
    }
    
.login-panel {

  	background-color: #4C6FA1;
  	border-color: #850087;
  	border:5px;
  	padding:10px;
  	margin:10px;
}
